@import "tailwindcss";

@import 'swiper/swiper-bundle.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: 'DanaMedium', sans-serif;
        direction: rtl;
    }

    body {
        background-color: #fff;
        overflow-x: hidden;
    }

    input {
        outline: none;
    }

    input::-ms-reveal {
        display: none;
    }

    a {
        color: inherit;
    }

    h2 {
        @apply text-2xl font-dana-demiBold my-3.5;
    }

    h3 {
        @apply text-lg font-dana-demiBold my-4;
    }

    p {
        @apply font-dana-light text-[17px];
    }

    .prose ul {
        list-style-type: circle;
    }

    .prose li {
        @apply font-dana-light mr-4;
    }

    button {
        cursor: pointer;
    }
}

@layer utilities {
    .container {
        @apply w-full max-w-[475px] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] px-4 md:px-6 mx-auto;
    }

}

@layer components {
    .primary-btn {
        @apply mx-auto flex mt-4 gap-x-2 cursor-pointer text-primary border border-primary p-2 rounded-lg text-sm hover:bg-sky-50;
    }

    .section-wrapper {
        @apply mt-24 md:mt-36;
    }

    .footer-body-title {
        @apply text-2xl mb-4 font-dana-bold;
    }

    .section-title::after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: 0;
        left: 0;
        display: block;
        height: 10px;
        width: calc(100% + 6px);
        background-color: rgba(59, 124, 162, 0.5);
        clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
    }

    .swiper-button {
        @apply text-lg text-primary border border-primary rounded-full flex w-12 h-12 justify-center items-center active:bg-primary hover:bg-primary  hover:text-white active:text-white transition cursor-pointer;
    }

    .auth-input {
        @apply pr-3 pl-7 py-2 w-full rounded-xl h-14 text-sm bg-gray-100 dark:bg-secendery-dark placeholder-[#64748b] border-2;
    }

    .breadcrumb-item {
        position: relative;
        display: flex;
        height: 100%;
        flex-shrink: 0;
        align-items: center;
        padding-left: .5rem;
        padding-right: 38px;
    }

    .breadcrumb-item:first-child {
        padding-right: 1rem;
        padding-left: .5rem;
    }

    .breadcrumb-item:not(:last-child)::after,
    .breadcrumb-item:not(:last-child)::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2.5rem;
        width: 5px;
        background-color: #f3f4f6;
    }

    .dark .breadcrumb-item:not(:last-child)::after,
    .dark .breadcrumb-item:not(:last-child)::before {
        background-color: #101828; /* معادل dark:bg-secendery-dark */
    }

    .breadcrumb-item:not(:last-child)::after {
        top: -3px;
        transform: rotate(35deg);
        transform-origin: top;
    }

    .breadcrumb-item:not(:last-child)::before {
        bottom: -3px;
        transform: rotate(-35deg);
        transform-origin: bottom;
    }

    .plyr {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
        height: 100%;
    }

    .content-wrapper {
        @apply bg-white dark:bg-primary-dark rounded-xl p-4.5;
    }

}

@font-face {
    font-family: 'DanaLight';
    src: url('/fonts/dana/Dana-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaMedium';
    src: url('/fonts/dana/Dana-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaDemiBold';
    src: url('/fonts/dana/Dana-DemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DanaBold';
    src: url('/fonts/dana/Dana-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: rgb(14 165 233);
    --color-primary-dark: #242a38;
    --color-secendery-dark: rgb(51 60 76);

    --font-dana-light: 'DanaLight';
    --font-dana-medium: 'DanaMedium';
    --font-dana-bold: 'DanaBold';
    --font-dana-demiBold: 'DanaDemiBold';
}